* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  box-shadow: inset 0 0 5px #cae3fa;
}

::-webkit-scrollbar-thumb {
  background: #36414b;
}

#app {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#app > div {
  font-size: 23px;
}

#header {
  background: #36414b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logoDiv {
  display: flex;
  flex-direction: row;
}

#logoDiv p {
  font-size: 23px;
  margin-top: 43px;
  color: rgb(245, 210, 110);
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.logo {
  width: 28px;
  height: 28px;
  animation: logo 6s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  margin: 3px;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
}

#doubleLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#imgLogo {
  width: 70px;
}

#content {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

#folders {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #b3c3d1;
}

#parentEl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

#inputEl {
  display: flex;
  justify-content: flex-end;
  margin-right: 6.5px;
}

#parentList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* li {
  color: #495867;
} */

.actionFile {
  width: 35px;
  height: 35px;
  margin: 5px;
  outline: none;
  /* position: relative; */
}

.actionFile:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionCollapse {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 9px;
  outline: none;
  position: relative;
}

.actionCollapse:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionFolder {
  width: 45px;
  height: 50px;
  top: 0;
  outline: none;
  position: relative;
}

.actionFolder:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionTerminal {
  width: 35px;
  height: 35px;
  margin: 5px;
  outline: none;
}

.actionTerminal:hover {
  cursor: pointer;
  transition: 0.2ms;
}

#fileBox {
  background-color: rgb(229, 239, 248);
  margin: 10px 0px 10px 5px;
  right: 3px;
  border: 1px solid #495867;
  border-radius: 5px;
  border-image: initial;
  outline: none;
  padding-left: 5px;
  height: 23px;
}

#editor {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: column;
  background: #495867;
}

#terminalDiv {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: #36414b;
}

#terminalDiv > p {
  text-align: center;
  font-size: 18px;
  color: white;
}

#terminalDiv > textarea {
  resize: none;
  width: 100%;
  height: 85%;
  background-color: rgb(73, 88, 103);
  color: rgb(179, 195, 209);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding-left: 3px;
}

#CloseTerminal {
  color: white;
  background-color: #f9572d;
  width: 20px;
  border-radius: 30%;
  margin: 4px 5px 5px 6px;
  outline: none;
}

#tabs {
  width: 100%;
  display: flex;
  background: #495867;
}

.tabs_Item {
  position: relative;
  padding: 2px 20px 4px 4px;
  align-self: start;
  font-size: 15px;
  background: #b3c3d1;
  border-radius: 13px 2px;
  outline: none;
  text-align: start;
  color: #36414b;
}

#tabClose {
  top: 0;
  right: 2px;
  margin: right;
  position: absolute;
  padding: 1px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #495867;
}

#innerCode {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 66.5%;
  background: #495867;
}

#innerCode > textarea {
  resize: none;
  width: 100%;
  height: 98%;
  background-color: #495867;
  color: rgb(179, 195, 209);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding-left: 3px;
  border-top: 0.5px solid #36414b;
}

#nestedList #nestedLi {
  padding: 2px;
  border: 2px solid gray;
}

.active,
.btn:hover {
  color: #36414b;
  font-weight: bold;
}

.hideToggle {
  display: none;
}

.menu {
  width: 70px;
  height: 28px;
  background-color: #495867;
  padding: 5px;
  border-radius: 7px;
  list-style: none;
  position: fixed;
  text-align: center;
}

.menu.off {
  top: -200%;
  left: -200%;
}

.menu-item {
  font-size: 18px;
  color: #b3c3d1;
  cursor: pointer;
}

/* .menu-item:hover,
.menu-item:active {
  color: #b3c3d1;
  font-weight: bold;
} */

#myList li {
  list-style-type: none;
  display: flex;
  justify-content: start;
  flex-direction: row;
  cursor: pointer;
  color: #36414b;
}

#myList {
  margin-left: 5px;
  display: flex;
  flex-flow: column wrap;
}

#htmlType {
  color: #f9572d;
  margin-right: 4px;
  font-weight: bold;
}

#cssType {
  color: #239999;
  margin-right: 4px;
  font-weight: bold;
}

#jsType {
  color: rgb(250, 250, 8);
  margin-right: 4px;
}
