* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#myList li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer; /* new property */
}

#myList {
  margin-top: 80px;
  margin-left: 30px;
  display: flex;
  flex-flow: column wrap;
}

/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  } */

#app {
  display: grid;
  grid-template-areas:
    'header header header header header header header header'
    'folders tab tab tab tab tab tab tab'
    'folders editor editor editor editor editor editor editor';
  grid-template-rows: repeat(auto-fill, 70px 35px 610px);
}

#app > div {
  text-align: end;
  font-size: 30px;
}

#header {
  grid-area: header;
  background: #36414b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logoDiv {
  display: flex;
  flex-direction: row;
}

#logoDiv p {
  font-size: 23px;
  margin-top: 43px;
  color: rgb(245, 210, 110);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.logo {
  width: 28px;
  height: 28px;
  position: relative;
  animation: logo 7s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  margin: 3px;
}

/* @keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    left: 0%;
    top: 0%;
  }
  25% {
    left: 25%;
    top: 45%;
  }
  50% {
    left: 50%;
    top: 0%;
  }
  75% {
    left: 75%;
    top: 45%;
  }
  100% {
    left: 95%;
    top: 0%;
  }
} */
@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #secondLogo {
  width: 35px;
  height: 35px;
  position: relative;
  animation: logo 5s infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}
@keyframes secondLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  0% {
    left: -0%;
    top: 0%;
  }
  25% {
    left: -25%;
    top: 50%;
  }
  50% {
    left: -50%;
    top: 0%;
  }
  75% {
    left: -75%;
    top: 50%;
  }
  100% {
    left: -95%;
    top: 0%;
  }
} */

#logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: flex-end; */
  justify-content: flex-end;
}

#doubleLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#imgLogo {
  margin-left: 5px;
  width: 70px;
  height: 70px;
}

#folders {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-area: folders;
  background: #b3c3d1;
}

#tabs {
  grid-area: tab;
  background: #ddefff;
}
#editor {
  grid-area: editor;
  background: #495867;
}

.actionFile {
  width: 35px;
  height: 35px;
  margin: 5px;
  outline: none;
  position: relative;
}

.actionFile:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionCollapse {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 9px;
  outline: none;
  position: relative;
}

.actionCollapse:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionFolder {
  width: 45px;
  height: 50px;
  top: 0;
  outline: none;
  position: relative;
}

.actionFolder:hover {
  cursor: pointer;
  transition: 0.2ms;
}

.actionTerminal {
  width: 35px;
  height: 35px;
  margin: 5px;
  outline: none;
}

.actionTerminal:hover {
  cursor: pointer;
  transition: 0.2ms;
}

#fileBox {
  background-color: rgb(229, 239, 248);
  height: min-content;
  position: absolute;
  top: 18%;
  margin: 10px 10px 10px 30px;
  border: 1px solid #495867;
  border-radius: 5px;
  border-image: initial;
  outline: none;
  padding-left: 5px;
  height: 23px;
}

li {
  color: #495867;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height: 7px;
  /* height: min-content; */
}

#terminalDiv {
  /* display: none; */
  /* border: 1px solid black; */
  width: 100%;
  height: 30%;
  margin-top: 400px;
  background: #36414b;
}

#terminalDiv > p {
  text-align: center;
  font-size: 18px;
  color: white;
}

#terminalDiv > textarea {
  resize: none;
  width: 100%;
  height: 90%;
  background-color: rgb(73, 88, 103);
  color: rgb(179, 195, 209);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  padding-left: 3px;
}

#CloseTerminal {
  color: white;
  background-color: #f9572d;
  width: 20px;
  border-radius: 30%;
  margin: 5px;
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  box-shadow: inset 0 0 5px #cae3fa;
}

::-webkit-scrollbar-thumb {
  background: #36414b;
}

/* ....................................................................... */

#nestedList #nestedLi {
  padding: 2px;
  border: 2px solid gray;
}

.active,
.btn:hover {
  background-color: #666;
  color: white;
}

.hideToggle {
  display: none;
}

.menu {
  width: 12rem;
  height: 4.5rem;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 2px #999;
  border-radius: 0.2rem;
  list-style: none;
  position: fixed;
}
.menu.off {
  top: -200%;
  left: -200%;
}
.menu-item {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
  padding: 0 1rem;
  cursor: pointer;
}
.menu-item:hover,
.menu-item:active {
  color: #000;
  font-weight: 500;
}
